<div class ="notfound-body">
  <h1 class ="notfound-header">Page Not Found</h1>
  <p class ="notfound-para">This file does not exist and there was no <code>index.html</code>
  found in the current directory or <code>404.html</code> in the root directory.</p>
  <h2 class = "notfound-h2">Why am I seeing this?</h2>
  <p class ="notfound-para">You may have deployed the wrong directory for your application. 
    Check your firebase.json and make sure the public directory 
    is pointing to a directory that contains an index.html file.</p>
  <p class ="notfound-para">You can also add a 404.html in the root of your site to replace 
    this page with a custom error page.</p>
    <div>
      <a class ="logo-container">
        <img src="./images/firebase-logo.png"/>
      </a>
    </div>
</div>