<div class="home-body">
  
<audio control autoplay>
  <source src="./audio/xfiles.mp3" type="audio/mpeg">
</audio>  
  <h1 class="mars-colony-title">Mars Colony 1</h1>
  <a href ="/register" class="entry-button">
    <div class="entry-button-container"></div>
    <div class="circle-1"></div>
    <div class="circle-2"></div>
    <div class="circle-3"></div>
  </a>
  <img src="./images/alien.gif" class="alien-gif"/>
  <h2 class = "tap-text">Tap circle to enter</h2>
</div>




  <!--Mars Colony
  <a routerLink="/register">Register page</a>
  <a routerLink="/encounters">Encounters page</a>
  <a routerLink="/report">Report page</a>
  <a routerLink="/notfound">Not found page</a>-->