<div class="register-body">
    <h1 class ="register-heading heading-center">Register</h1>
    <form [formGroup]="registerForm"
    [ngClass]="{ 'submitting': clickedSubmit }" 
    (ngSubmit)="postNewColonist($event)">
        <fieldset>
            <input type ="text" placeholder="Name"  formControlName="name" name="colonistName" class="name-input"> 
            <input type ="number" placeholder="Age" formControlName="age" name="colonistAge">
        </fieldset>
        <fieldset>
            <select formControlName="job_id" name ="job_id" class = "register-select">
                <option value ="none">Select occupation</option>
                <option *ngFor = "let job of marsJobs" value= "{{ job.id }}">{{ job.name }}</option>
            </select>
        </fieldset>
        <button type="submit" class ="register-button">Check in</button>
    </form>
    
</div>
